
<sly data-sly-use.detail="com.kia25.core.models.Build002CrudModel"></sly>

<div class="content">

	<!-- carGroup -->
	<select name="carGroupSel" class="carGroupSel">
		<option value="none">---- 선택 ----</option>
		<option value="carGroupCode">carGroup 모델 코드</option>
		<option value="carGroupName">전시 대표 차종명</option>
	</select>

	
	<div class="searchDiv">
		<input type="text" class="carGroupSearch" placeholder="검색어 입력">
		<button class="searchBtn">검색</button>
	</div>

	<table class="carGroupTab">
		<thead>
			<tr class="carGroupTh">
				<th>carGroup 모델 코드</th>
				<th>전시 대표 차종명</th>
				<th>모델 대표 이미지</th>
				<th>정렬 순서</th>
				<th>사용 유무</th>
				<th></th>
			</tr>		
		</thead>
		
		<tbody>
			<sly data-sly-list.group="${detail.carGroupList}">
				<tr class="carGroupTb">
					<td>${group.carGroupCode}</td>
					<td>${group.carGroupName}</td>
					<td>
						<img src="${group.carImagePath}" style="height: 150px;">
					</td>
					<td>${group.sortOrder}</td>
					<td>${group.useYn}</td>
					<td>
						<button type="button" class="carUpBtn" data-toggle="modal" data-target="#carUpdateModal">수정</button>
					</td>
				</tr>
			</sly>
		</tbody>
	</table>
	
	<button type="button" class="carAddBtn">등록</button>
	<button type="button" class="carDelBtn">삭제</button>
	
	
	
	
	<!-- carGroup 관련 modal -->
	<div class="carGroup modal">
	
		<!-- '수정' 클릭시 modal -->
	    <div class="carUpdateModal" id="carUpdateModal">
		    <div class="modal-header">
		       <h4>carGroup 수정</h4>
		    </div>   
		    
		    <div class="modal-body">
				<p>carGroup 모델 코드</p>          
				<p>전시 대표 차종명</p>          
				<p>모델 대표 이미지</p>          
				<p>정렬 순서</p>          
				<p>사용 유무</p>          
	        </div>   
	           
	        <div class="modal-footer">
	          	 <button type="submit" class="btn btn-success" id="carUpMoBtn">수정</button>
	             <button id="cancleBtn" data-dismiss="modal" class="btn btn-secondary">닫기</button>
	        </div> 
	    </div>

	
		<!-- '추가' 클릭시 modal -->
		<div class="carAddModal" id="carAddModal">
		    <div class="modal-header">
		       <h4>carGroup 추가</h4>
		    </div>   
		    
		    <div class="modal-body">
		    	<input type="text" name="" placeholder="carGroup 모델 코드">
		    	<input type="text" name="" placeholder="전시 대표 차종명">
		    	<input type="text" name="" placeholder="모델 대표 이미지">
		    	<input type="text" name="" placeholder="정렬 순서">
		    	<input type="text" name="" placeholder="사용 유무">
	        </div>   
	           
	        <div class="modal-footer">
	          	 <button type="submit" class="btn btn-success" id="carAddMoBtn">추가</button>
	             <button id="cancleBtn" data-dismiss="modal" class="btn btn-secondary">닫기</button>
	        </div> 
	    </div>



	</div>
	
	
	<br><br>
	

	<!-- trim -->
	<select name="trimSel" class="trimSel">
		<option value="none">---- 선택 ----</option>
		<option value="trimCode">트림코드</option>
		<option value="trimName">트림명</option>
		<option value="transmission">변속기</option>
	</select>
	
	<div class="searchDiv">
		<input type="text" class="trimSearch" placeholder="검색어 입력">
		<button class="searchBtn">검색</button>
	</div>

	<table class="trimTab">
		<thead>
			<tr class="trimTh">
				<th>carGroup 모델 코드</th>
				<th>변속기 코드</th>
				<th>트림 코드</th>
				<th>트림명</th>
				<th>상품 번호</th>
				<th>추천 판매 가격</th>
				<th>추천(베스트) 여부</th>
				<th>복합 연비</th>
				<th>바디타입 이름</th>
				<th>엔진용량 이름</th>
				<th>정렬 순서</th>
				<th>사용 유무</th>
				<th></th>
			</tr>		
		</thead>
		
		<tbody>
			<sly data-sly-list.trim="${detail.trimList}">
				<tr class="trimTd">
					<td>${trim.carGroupCode}</td>
					<td>${trim.transmissionCode}</td>
					<td>${trim.trimCode}</td>
					<td>${trim.trimName}</td>
					<td>${trim.productCode}</td>
					<td class="sellingPrice">${trim.sellingPrice}</td>
					<td>${trim.bestYn}</td>
					<td>${trim.compoundFuelEconomy}</td>
					<td>${trim.bodyTypeName}</td>
					<td>${trim.engineCapacityName}</td>
					<td>${trim.sortOrder}</td>
					<td>${trim.useYn}</td>
					<td>
						<button type="button" class="trimUpBtn">수정</button>
					</td>
				</tr>
			</sly>
		</tbody>
	</table>
	
	<button type="button" class="trimAddBtn">등록</button>
	<button type="button" class="trimDelBtn">삭제</button>
	
	
	<!-- trim 관련 modal -->
	<div class="trim modal">
	
	
	
	
	
	
	</div>
	
	
	
	


</div>