


<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html" />
<!-- <sly data-sly-call="${clientlibs.all @ categories='kia.buildyourcar'}" /> -->





<div id="container">

    <div id="content" class="subContents">
        <div class="par parsys">
            <div class="title parbase section">









                <div class="content_title">
                    <h3 class="con_tit">
                        <p>온라인 견적</p>
                    </h3>

                </div>
            </div>
            <div class="parsys section">









                <script type="text/javascript">
                    var couponDownPopupYn = true;
                    var popCarCode = "";


                    function fnopenAlertPop(msg, goBackYn) {
                        $("#alertPopup").html('<span class="moarea"></span>' + msg);
                        var openAlertPop = new OpenDimPop_outClick($("#openAlertPop"));
                        if (goBackYn) {
                            //$("#popupOk").attr("onclick","closePop('openAlertPop',true,'"+popCarCode+"');");
                            $("#popupOk").attr("onclick", "closePop('openAlertPop',true);");
                            $("#popupClose").attr("onclick", "goMainPop();");
                        } else {
                            //$("#popupOk").attr("onclick","closePop('openAlertPop',false,'"+popCarCode+"');");
                            $("#popupOk").attr("onclick", "closePop('openAlertPop',false);");
                            $("#popupClose").removeAttr("onclick");
                        }
                        openAlertPop.open();
                        setTimeout(function () { $("#openAlertPop").focus() }, 200);
                        $('.dimmed_outClick').on('click', function () {
                            openAlertPop.close();
                            if (goBackYn) {
                                //history.back();
                                location.href = "https://www.kia.com/content/kwcms/kr/ko.html";
                            }
                            if ((popCarCode == "XCK" || popCarCode == "XRJ") && couponDownPopupYn) {
                                couponDownPopupOpen();
                            }
                        });

                        $("#openAlertPop").find(" > a.closeBtn").on("click", function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            openAlertPop.close();
                            if ((popCarCode == "XCK" || popCarCode == "XRJ") && couponDownPopupYn) {
                                couponDownPopupOpen();
                            }
                        });
                    }

                    function closePop(popId, goBackYn) {
                        var tmpPop = new OpenDimPop_outClick($("#" + popId));
                        tmpPop.close();
                        if (goBackYn) {
                            //history.back();
                            location.href = "https://www.kia.com/content/kwcms/kr/ko.html";
                        }
                        if ((popCarCode == "XCK" || popCarCode == "XRJ") && couponDownPopupYn) {
                            couponDownPopupOpen();
                        }
                    }

                    function couponDownPopupOpen() {



                        if (202105010000 <= serverToday() && serverToday() <= 202106302359) {
                            var couponDownPopupId = "";
                            if (popCarCode == "XCK") {
                                couponDownPopupId = "couponDownStinger";
                                if (serverToday() <= 202105312359) {
                                    $("#couponStinger").children().attr("src", "https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_stinger.jpg");
                                } else {
                                    $("#couponStinger").children().attr("src", "https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/2106_stinger.jpg");
                                }

                            }
                            else if (popCarCode == "XRJ") {
                                if (serverToday() <= 202105312359) {
                                    couponDownPopupId = "couponDownK9";
                                } else {
                                    return;
                                }
                            }
                            var couponDownPopup = new OpenDimPop_outClick($("#" + couponDownPopupId));
                            couponDownPopup.open();
                            couponDownPopupYn = false;
                            $('.dimmed_outClick').on('click', function () {
                                couponDownPopup.close();
                            });
                        }
                    }

                    function goMainPop() {
                        location.href = "https://www.kia.com/content/kwcms/kr/ko.html";
                    }
                </script>

                <div id="openAlertPop" class="popup_wrap popup popup_alert"
                    style="max-width: 430px; display: none; width: 1890px; position: absolute; left: 721.5px;">
                    <h3 class="hidden">안내</h3>
                    <div class="pop_con">
                        <p class="txt" id="alertPopup"></p>
                        <div class="btn_area"><a id="popupOk" href="javascript:;" class="btnType1 btnSquare"
                                onclick="closePop('openAlertPop',false);">확인</a></div>
                    </div>
                    <a href="javascript:;" class="closeBtn"><span id="popupClose"
                            class="cmm_spr spr_close3">닫기</span></a>
                </div>
                <div class="dimmed_outClick" style="display:none"></div>


                <div id="couponDownStinger" class="popup_wrap popup"
                    style="display: none; max-width: 530px; width: 1890px; position: absolute; left: 671.5px;"
                    tabindex="0">
                    <h3 class="pop_tit">스팅어 프리미엄 우대 할인 안내</h3>
                    <div class="pop_con">
                        <div class="box">
                            <div id="couponStinger"><img src="" alt="스팅어 프리미엄 우대 쿠폰 (￦ 1,000,000)"></div>
                            <div class="hidden">
                                <strong>스팅어 프리미엄 우대 쿠폰 (￦ 1,000,000</strong>
                                <dl>
                                    <dt>대상</dt>
                                    <dd>본 바우처 보유 개인, 개인사업자, 법인 직구매 고객</dd>
                                    <dd>기아 임직원, 대리점 임직원, 그룹사, 협력사 AutoQ 임직원, 렌트/리스, 영업용 제외</dd>
                                    <dt>증빙방법</dt>
                                    <dd>본 바우처 사진촬영 or 출력 후 제출</dd>
                                    <dt>햬택</dt>
                                    <dd>스팅어 구매시 100만원 할인</dd>
                                    <dt>사용기간</dt>
                                    <dd>21년 5월 限 (출고일 기준)</dd>
                                    <dt>사용방법</dt>
                                    <dd>스팅어 상담 시 본 바우처를 지점/대리점에 제시 후 할인 혜택 적용(프리미엄 우대 / 견적 확인 타겟)</dd>
                                </dl>
                                <p>상기 혜택은 당사 구매 혜택 적용 기준에 의거하여 제공됩니다.</p>
                            </div>
                        </div>
                        <div class="btn_area">
                            <a href="javascript:printTable('couponStinger')" class="btnLarge btnType1 pcview"><span>쿠폰
                                    인쇄하기</span></a>
                            <a href="https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_stinger.jpg"
                                class="btnLarge btnType1 moview" download=""><span>쿠폰 다운로드</span></a>
                            <a href="#" class="btnLarge btnType3 btnCancel"
                                onclick="closePop('couponDownStinger',false);">닫기</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="closeBtn btnType5"><span class="cmm_spr spr_close2">닫기</span></a>
                </div>

                <div id="couponDownK9" class="popup_wrap popup"
                    style="display: none; max-width: 530px; width: 1890px; position: absolute; left: 671.5px;"
                    tabindex="0">
                    <h3 class="pop_tit">K9 프리미엄 우대 할인 안내</h3>
                    <div class="pop_con">
                        <div class="box">
                            <div id="couponK9"><img
                                    src="https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_k9.jpg"
                                    alt="K9 프리미엄 우대 쿠폰 (￦ 1,000,000)"></div>
                            <div class="hidden">
                                <strong>K9 프리미엄 우대 쿠폰 (￦ 1,000,000</strong>
                                <dl>
                                    <dt>대상</dt>
                                    <dd>본 바우처 보유 개인, 개인사업자, 법인 직구매 고객</dd>
                                    <dd>기아 임직원, 대리점 임직원, 그룹사, 협력사 AutoQ 임직원, 렌트/리스, 영업용 제외</dd>
                                    <dt>증빙방법</dt>
                                    <dd>본 바우처 사진촬영 or 출력 후 제출</dd>
                                    <dt>햬택</dt>
                                    <dd>THE K9 구매시 100만원 할인</dd>
                                    <dt>사용기간</dt>
                                    <dd>21년 5월 限 (출고일 기준)</dd>
                                    <dt>사용방법</dt>
                                    <dd>THE K9 상담 시 본 바우처를 지점/대리점에 제시 후 할인 혜택 적용(프리미엄 우대 / 견적 확인 타겟)</dd>
                                </dl>
                                <p>상기 혜택은 당사 구매 혜택 적용 기준에 의거하여 제공됩니다.</p>
                            </div>
                        </div>
                        <div class="btn_area">
                            <a href="javascript:printTable('couponK9')" class="btnLarge btnType1 pcview"><span>쿠폰
                                    인쇄하기</span></a>
                            <a href="https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_k9.jpg"
                                class="btnLarge btnType1 moview" download=""><span>쿠폰 다운로드</span></a>
                            <a href="#" class="btnLarge btnType3 btnCancel"
                                onclick="closePop('couponDownK9',false);">닫기</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="closeBtn btnType5"><span class="cmm_spr spr_close2">닫기</span></a>
                </div>





                <script type="text/javascript">
                    $(function ($) {
                        $("a, input, select, label, textarea").on("focus", function () {
                            if ($(this).hasClass('closeBtn')) return;
                        });
                    }) // 공통영역에 선언한 스크립트(레이어팝업 닫기버튼 포스 이동시 스크롤 이동 문제)로 넣음.
                </script>
                <div class="estimate_online_wrap list">
                    <p class="price_view"><a href="/kr/shopping-tools/catalog-price.html"
                            target="_blank">가격표<em>보기</em></a></p>

                    <h4 class="hidden">차종 선택</h4>
                    <div class="category">
                        <div class="inbox">
                            <a href="#carTab1" class="on"><span>EV</span></a>
                            <a href="#carTab2" class=""><span>승용</span></a>
                            <a href="#carTab3" class=""><span>RV</span></a>
                            <a href="#carTab4" class=""><span>상용/택시</span></a>
                            <a href="#carTab5" class=""><span>장애인/렌트</span></a>
                        </div>
                    </div>

                    <div class="inner">

                        <div id="carTab1" class="car_list on">
                            <h5 class="hidden">EV</h5>
                            <ul class="car_u">

                                <li class="car_l" car="EV6">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=EV6.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_ev6.png" alt="EV6">
                                            </span>
                                            <strong class="car_name">EV6</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="EDE">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=EDE.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_niro-ev_swp.png"
                                                    alt="니로 EV">
                                            </span>
                                            <strong class="car_name">니로 EV</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="YFE">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=YFE.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/img_bongo3-ev_ud.png"
                                                    alt="봉고III EV ">
                                            </span>
                                            <strong class="car_name">봉고III EV </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z5E">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z5E.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_bongo3_builttapcha-ev.png"
                                                    alt="탑차 EV">
                                            </span>
                                            <strong class="car_name">탑차 EV</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z7E">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z7E.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_bongo3powergate-ev.png"
                                                    alt="성력 EV">
                                            </span>
                                            <strong class="car_name">성력 EV</strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div id="carTab2" class="car_list on">
                            <h5 class="hidden">승용</h5>
                            <ul class="car_u">

                                <li class="car_l" car="XJA">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XJA.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_morning_b2y.png"
                                                    alt="모닝">
                                            </span>
                                            <strong class="car_name">모닝</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XTM">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XTM.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_ray_m9y.png" alt="레이">
                                            </span>
                                            <strong class="car_name">레이</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XDB">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XDB.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new.png"
                                                    alt="K3">
                                            </span>
                                            <strong class="car_name">K3</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XDT">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XDT.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3gt_the_new.png"
                                                    alt="K3 GT">
                                            </span>
                                            <strong class="car_name">K3 GT</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XJF">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XJF.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_newk5_agt.png"
                                                    alt="K5">
                                            </span>
                                            <strong class="car_name">K5</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XTZ">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XTZ.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k5_hyb_klg.png"
                                                    alt="K5 하이브리드">
                                            </span>
                                            <strong class="car_name">K5 하이브리드</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XCK">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XCK.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_stinger_meister.png"
                                                    alt="스팅어">
                                            </span>
                                            <strong class="car_name">스팅어</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="GL3">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=GL3.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/img_k8.png" alt="K8">
                                            </span>
                                            <strong class="car_name">K8</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="HGL">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=HGL.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/img_k8hev.png"
                                                    alt="K8 하이브리드">
                                            </span>
                                            <strong class="car_name">K8 하이브리드</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="XRJ">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XRJ.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/new_k9.png" alt="K9">
                                            </span>
                                            <strong class="car_name">K9</strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div id="carTab3" class="car_list on">
                            <h5 class="hidden">RV</h5>
                            <ul class="car_u">

                                <li class="car_l" car="XDE">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=XDE.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_niro_hev_b4u.png"
                                                    alt="니로">
                                            </span>
                                            <strong class="car_name">니로</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="GDE">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=GDE.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/vehicles/img_niro-phev.png"
                                                    alt="니로 플러그인 하이브리드">
                                            </span>
                                            <strong class="car_name">니로 플러그인 하이브리드</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="SUJ">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=SUJ.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_seltos_swp.png"
                                                    alt="셀토스">
                                            </span>
                                            <strong class="car_name">셀토스</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="NQL">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=NQL.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_nq_sportage.png"
                                                    alt="스포티지">
                                            </span>
                                            <strong class="car_name">스포티지</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="NQH">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=NQH.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_nq_sportage_hev.png"
                                                    alt="스포티지 하이브리드">
                                            </span>
                                            <strong class="car_name">스포티지 하이브리드</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="JMQ">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=JMQ.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_sorento.png"
                                                    alt="쏘렌토">
                                            </span>
                                            <strong class="car_name">쏘렌토</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="HMQ">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=HMQ.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_sorento_hev_cr5.png"
                                                    alt="쏘렌토 하이브리드">
                                            </span>
                                            <strong class="car_name">쏘렌토 하이브리드</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="NJS">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=NJS.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_mohave_master_abp.png"
                                                    alt="모하비">
                                            </span>
                                            <strong class="car_name">모하비</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="RKA">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=RKA.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_4thcarnival.png"
                                                    alt="카니발">
                                            </span>
                                            <strong class="car_name">카니발</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z13">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z13.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_carnival_hi_limousine.png"
                                                    alt="카니발 하이리무진">
                                            </span>
                                            <strong class="car_name">카니발 하이리무진</strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div id="carTab4" class="car_list on">
                            <h5 class="hidden">상용/택시</h5>
                            <ul class="car_u">

                                <li class="car_l" car="8GL">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=8GL.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k8_taxi.png"
                                                    alt="K8 택시">
                                            </span>
                                            <strong class="car_name">K8 택시</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="YF8">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=YF8.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/2020_bongo_basiccap_bpy.png"
                                                    alt="봉고III 트럭">
                                            </span>
                                            <strong class="car_name">봉고III 트럭</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z05">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z05.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_bongo3freeze.png"
                                                    alt="탑차">
                                            </span>
                                            <strong class="car_name">탑차</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z06">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z06.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_bongo3generaltruck.png"
                                                    alt="건설">
                                            </span>
                                            <strong class="car_name">건설</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z07">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z07.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_bongo3powergate.png"
                                                    alt="성력">
                                            </span>
                                            <strong class="car_name">성력</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="Z08">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=Z08.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_bongo3_pwidetruck.png"
                                                    alt="수송">
                                            </span>
                                            <strong class="car_name">수송</strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div id="carTab5" class="car_list on">
                            <h5 class="hidden">장애인/렌트</h5>
                            <ul class="car_u">

                                <li class="car_l" car="OTH">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=OTH.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/img_dl3k5.png"
                                                    alt="K5 [장애인전용]">
                                            </span>
                                            <strong class="car_name">K5 [장애인전용]</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="OTR">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=OTR.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_newk5_agt.png"
                                                    alt="K5 [렌트]">
                                            </span>
                                            <strong class="car_name">K5 [렌트]</strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="car_l" car="RGL">
                                    <div class="car_box">
                                        <a href="vehicle-lineup.trim.car=RGL.dpcd=N.html" class="car_a" title="Select">
                                            <span class="car_img">
                                                <img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k8.png" alt="K8 [렌트]">
                                            </span>
                                            <strong class="car_name">K8 [렌트]</strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {

                            fnELeadEvent("sptool_byod_model_page", "#URL", 'BRAND');
                        });
                    </script>
                </div>
            </div>

        </div>

    </div>
</div>