<sly data-sly-use.data="com.nsc.aem_sample.core.models.MainPageComponent"></sly>

<div>
	<div class="main-title">
    	${data.mainTitle}
    </div>
    <div class="main-desc">
    	${data.mainDesc}
    </div>
</div>


<!--<sly data-sly-use.data="com.nsc.aem_sample.core.models.SampleComponent"></sly>-->
<!-- 
<sly data-sly-use.data="com.nsc.aem_sample.core.models.SampleComponent"></sly>
<sly data-sly-use.data2="com.nsc.aem_sample.core.models.SampleComponent2"></sly>
<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlibs.all @ categories='practice.clientlibs.sample'}" />

<div class="component-1">
	<p>this is sample component</p>
	<br><hr>
</div>

<div class="component-2">
	<p>properties.text : ${properties.text}</p>
	<p>test_textField : ${properties.text1}</p>
</div>
<br><hr>

<div class="component-3">
    <p>List Test</p>
    <p>HardCode : ${data.hardCode}</p>
    <p>NodeData : ${data.nodeData}</p>
    <p>ReqParam : ${data.reqParam}</p>
</div>

<div class="component-4">
    <ul data-sly-list="${data.listDatas}">
       <li>${item}</li>
    </ul>
</div>
<br><hr>

<div class="component-5">
    <p>Extends WCMUse Pojo</p>
    <p>Static Value : ${data2.staticValue}</p>
    <p>Dynamic Value : ${data2.dynamicValue}</p>
    <p>Request Value : ${data2.reqValue}</p>
</div>
<br><hr>

<div class="component-6">
    <sly data-sly-resource="${'./breadcrumb' @ resourceType='core/wcm/components/breadcrumb/v2/breadcrumb'}"></sly>
</div>
<br><hr>

<p>Helper Class HardCode Value : ${data.hardCode}</p>
<p>Helper Class Property Value : ${data.nodeData}</p>
<p>Helper Class Request Parameter Value : ${data.regParam}</p>
-->
