scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/kia30
        create path (nt:unstructured) /content/dam/kia30/jcr:content
        set properties on /content/dam/kia30/jcr:content
        set cq:conf{String} to /conf/kia30
        set jcr:title{String} to \"kia 3.0\"
        end
        "
]
