<div class="footer-bottom">
                <div class="inner">
                    <h2 class="footer-logo">
                        <a href="#">Northstar Consulting</a>
                    </h2>
                    <div class="container">
                        <ul class="footermenu">
                            <li><a href="/web/company/about-us.view">회사소개</a></li>
                            <li><a href="/web/company/recruit.view">인재채용</a></li>
                            <li><a href="/web/company/contact.view">오시는 길</a></li>
                            <!-- 
                            <li><a data-pop="dept-pop">사업부 안내</a></li>
                            <li><a data-pop="privacy-pop">개인정보 보호</a></li>
                             -->
                        </ul>
                        <b>(주)노스스타컨설팅</b>
                        <div class="footercont">
                            <div class="row">
                                <span>대표이사 이도원</span>
                                <!-- 
                                <span>개인정보책임자 류재명</span>
                                 -->
                                
                            </div>
                            <address>
                                <em>본사</em>
                                <span>서울시 성동구 성수이로51 (서울숲한라시그마밸리) 401호</span>
                                <div class="telbox">
                                    <span class="tel"><a href="tel:02-552-0205">Tel  02-552-0205</a></span>
                                    <span>Fax  070-4406-0205</span>
                                </div>
                                <div class="projectroom">
                                    <em>프로젝트룸</em>
                                    <span>서울 성동구 성수이로 66 (서울숲드림타워) 205호</span>
                                </div>
                            </address>
                        </div>
                        <p>Copyright © Northstar Consulting.  All rights reserved.</p>
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>