<div class="header-top">
        <h1 class="nav-logo">
        	<img src="/content/dam/nsc-project/northstar_logo_s.svg"/>

        </h1>
        <ul class="nav-menu">
            <!-- PC MENU 대메뉴 -->
            
                <li><a href="#">  IT 컨설팅</a></li>
            
                <li><a href="#">  디지털 마케팅</a></li>

                <li><a  href="#">  엔터프라이즈 데이터</a></li>

                <li><a href="#">  엔터프라이즈 통합</a></li>

                <li><a href="#">  회사소개</a></li>

                <li><a href="#">  지속가능경영</a></li>
            
        </ul>
        <div class="nav-btn-wrap">
            <button class="menu-trigger">
                <div>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
            </button>
        </div>
    </div>