

<sly data-sly-use.model="com.kia25.core.models.Build001Model"></sly>


<div id="container">

    <div id="content" class="subContents">
        <div class="par parsys">
            <div class="title parbase section">









                <div class="content_title">
                    <h3 class="con_tit">
                        <p>온라인 견적</p>
                    </h3>

                </div>
            </div>
            <div class="parsys section">









                <script type="text/javascript">
                    var couponDownPopupYn = true;
                    var popCarCode = "";


                    function fnopenAlertPop(msg, goBackYn) {
                        $("#alertPopup").html('<span class="moarea"></span>' + msg);
                        var openAlertPop = new OpenDimPop_outClick($("#openAlertPop"));
                        if (goBackYn) {
                            //$("#popupOk").attr("onclick","closePop('openAlertPop',true,'"+popCarCode+"');");
                            $("#popupOk").attr("onclick", "closePop('openAlertPop',true);");
                            $("#popupClose").attr("onclick", "goMainPop();");
                        } else {
                            //$("#popupOk").attr("onclick","closePop('openAlertPop',false,'"+popCarCode+"');");
                            $("#popupOk").attr("onclick", "closePop('openAlertPop',false);");
                            $("#popupClose").removeAttr("onclick");
                        }
                        openAlertPop.open();
                        setTimeout(function () { $("#openAlertPop").focus() }, 200);
                        $('.dimmed_outClick').on('click', function () {
                            openAlertPop.close();
                            if (goBackYn) {
                                //history.back();
                                location.href = "https://www.kia.com/content/kwcms/kr/ko.html";
                            }
                            if ((popCarCode == "XCK" || popCarCode == "XRJ") && couponDownPopupYn) {
                                couponDownPopupOpen();
                            }
                        });

                        $("#openAlertPop").find(" > a.closeBtn").on("click", function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            openAlertPop.close();
                            if ((popCarCode == "XCK" || popCarCode == "XRJ") && couponDownPopupYn) {
                                couponDownPopupOpen();
                            }
                        });
                    }

                    function closePop(popId, goBackYn) {
                        var tmpPop = new OpenDimPop_outClick($("#" + popId));
                        tmpPop.close();
                        if (goBackYn) {
                            //history.back();
                            location.href = "https://www.kia.com/content/kwcms/kr/ko.html";
                        }
                        if ((popCarCode == "XCK" || popCarCode == "XRJ") && couponDownPopupYn) {
                            couponDownPopupOpen();
                        }
                    }

                    function couponDownPopupOpen() {



                        if (202105010000 <= serverToday() && serverToday() <= 202106302359) {
                            var couponDownPopupId = "";
                            if (popCarCode == "XCK") {
                                couponDownPopupId = "couponDownStinger";
                                if (serverToday() <= 202105312359) {
                                    $("#couponStinger").children().attr("src", "https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_stinger.jpg");
                                } else {
                                    $("#couponStinger").children().attr("src", "https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/2106_stinger.jpg");
                                }

                            }
                            else if (popCarCode == "XRJ") {
                                if (serverToday() <= 202105312359) {
                                    couponDownPopupId = "couponDownK9";
                                } else {
                                    return;
                                }
                            }
                            var couponDownPopup = new OpenDimPop_outClick($("#" + couponDownPopupId));
                            couponDownPopup.open();
                            couponDownPopupYn = false;
                            $('.dimmed_outClick').on('click', function () {
                                couponDownPopup.close();
                            });
                        }
                    }

                    function goMainPop() {
                        location.href = "https://www.kia.com/content/kwcms/kr/ko.html";
                    }
                </script>

                <div id="openAlertPop" class="popup_wrap popup popup_alert"
                    style="max-width: 430px; display: none; width: 1890px; position: absolute; left: 721.5px;">
                    <h3 class="hidden">안내</h3>
                    <div class="pop_con">
                        <p class="txt" id="alertPopup"></p>
                        <div class="btn_area"><a id="popupOk" href="javascript:;" class="btnType1 btnSquare"
                                onclick="closePop('openAlertPop',false);">확인</a></div>
                    </div>
                    <a href="javascript:;" class="closeBtn"><span id="popupClose"
                            class="cmm_spr spr_close3">닫기</span></a>
                </div>
                <div class="dimmed_outClick" style="display:none"></div>


                <div id="couponDownStinger" class="popup_wrap popup"
                    style="display: none; max-width: 530px; width: 1890px; position: absolute; left: 671.5px;"
                    tabindex="0">
                    <h3 class="pop_tit">스팅어 프리미엄 우대 할인 안내</h3>
                    <div class="pop_con">
                        <div class="box">
                            <div id="couponStinger"><img src="" alt="스팅어 프리미엄 우대 쿠폰 (￦ 1,000,000)"></div>
                            <div class="hidden">
                                <strong>스팅어 프리미엄 우대 쿠폰 (￦ 1,000,000</strong>
                                <dl>
                                    <dt>대상</dt>
                                    <dd>본 바우처 보유 개인, 개인사업자, 법인 직구매 고객</dd>
                                    <dd>기아 임직원, 대리점 임직원, 그룹사, 협력사 AutoQ 임직원, 렌트/리스, 영업용 제외</dd>
                                    <dt>증빙방법</dt>
                                    <dd>본 바우처 사진촬영 or 출력 후 제출</dd>
                                    <dt>햬택</dt>
                                    <dd>스팅어 구매시 100만원 할인</dd>
                                    <dt>사용기간</dt>
                                    <dd>21년 5월 限 (출고일 기준)</dd>
                                    <dt>사용방법</dt>
                                    <dd>스팅어 상담 시 본 바우처를 지점/대리점에 제시 후 할인 혜택 적용(프리미엄 우대 / 견적 확인 타겟)</dd>
                                </dl>
                                <p>상기 혜택은 당사 구매 혜택 적용 기준에 의거하여 제공됩니다.</p>
                            </div>
                        </div>
                        <div class="btn_area">
                            <a href="javascript:printTable('couponStinger')" class="btnLarge btnType1 pcview"><span>쿠폰
                                    인쇄하기</span></a>
                            <a href="https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_stinger.jpg"
                                class="btnLarge btnType1 moview" download=""><span>쿠폰 다운로드</span></a>
                            <a href="#" class="btnLarge btnType3 btnCancel"
                                onclick="closePop('couponDownStinger',false);">닫기</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="closeBtn btnType5"><span class="cmm_spr spr_close2">닫기</span></a>
                </div>

                <div id="couponDownK9" class="popup_wrap popup"
                    style="display: none; max-width: 530px; width: 1890px; position: absolute; left: 671.5px;"
                    tabindex="0">
                    <h3 class="pop_tit">K9 프리미엄 우대 할인 안내</h3>
                    <div class="pop_con">
                        <div class="box">
                            <div id="couponK9"><img
                                    src="https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_k9.jpg"
                                    alt="K9 프리미엄 우대 쿠폰 (￦ 1,000,000)"></div>
                            <div class="hidden">
                                <strong>K9 프리미엄 우대 쿠폰 (￦ 1,000,000</strong>
                                <dl>
                                    <dt>대상</dt>
                                    <dd>본 바우처 보유 개인, 개인사업자, 법인 직구매 고객</dd>
                                    <dd>기아 임직원, 대리점 임직원, 그룹사, 협력사 AutoQ 임직원, 렌트/리스, 영업용 제외</dd>
                                    <dt>증빙방법</dt>
                                    <dd>본 바우처 사진촬영 or 출력 후 제출</dd>
                                    <dt>햬택</dt>
                                    <dd>THE K9 구매시 100만원 할인</dd>
                                    <dt>사용기간</dt>
                                    <dd>21년 5월 限 (출고일 기준)</dd>
                                    <dt>사용방법</dt>
                                    <dd>THE K9 상담 시 본 바우처를 지점/대리점에 제시 후 할인 혜택 적용(프리미엄 우대 / 견적 확인 타겟)</dd>
                                </dl>
                                <p>상기 혜택은 당사 구매 혜택 적용 기준에 의거하여 제공됩니다.</p>
                            </div>
                        </div>
                        <div class="btn_area">
                            <a href="javascript:printTable('couponK9')" class="btnLarge btnType1 pcview"><span>쿠폰
                                    인쇄하기</span></a>
                            <a href="https://www.kia.com/content/dam/kwcms/kr/ko/images/shopping-tools/estimate-online/coupon_k9.jpg"
                                class="btnLarge btnType1 moview" download=""><span>쿠폰 다운로드</span></a>
                            <a href="#" class="btnLarge btnType3 btnCancel"
                                onclick="closePop('couponDownK9',false);">닫기</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="closeBtn btnType5"><span class="cmm_spr spr_close2">닫기</span></a>
                </div>





                <script type="text/javascript">
                    $(function ($) {
                        $("a, input, select, label, textarea").on("focus", function () {
                            if ($(this).hasClass('closeBtn')) return;
                        });
                    }) // 공통영역에 선언한 스크립트(레이어팝업 닫기버튼 포스 이동시 스크롤 이동 문제)로 넣음.
                </script>
                <div class="estimate_online_wrap list">
                    <p class="price_view"><a href="/kr/shopping-tools/catalog-price.html"
                            target="_blank">가격표<em>보기</em></a></p>


					<!-- dwjung :: category 수정 : 2021. 12. 06 -->
					
                    <h4 class="hidden">차종 선택</h4>
                    <div class="category">
                        <div class="inbox">
                        	<sly data-sly-list="${model.categoryList}">
	                            <a href="#carTab${itemList.count}" class="${itemList.count == 1? 'on':' '}"><span>${item.categoryName}</span></a>
                            <sly>
                            
                        </div>
                    </div>



					<!-- dwjung :: car tab 수정 : 2021. 12. 08 -->
					
                    <div class="inner">
                    	<sly data-sly-list.cate="${model.categoryList}">
	                        <div id="carTab${cateList.count}" class="car_list on">
	                            <h5 class="hidden">${cate.categoryName}</h5>
	                            <ul class="car_u">
			
									<sly data-sly-list.car="${model.modelList}">
										<sly data-sly-test="${cate.categoryCode == car.categoryCode}">              
			                                <li class="car_l" car="${car.modelCode}">
			                                    <div class="car_box">
			                                        <a class="car_a"  href="" title="Select">
			                                        <!-- 
				                                        modelid=${car.modelCode} : 출력이 정상적으로 이루어지는 것을 확인함.
				                                        
			                                        	연결을 위해 href의 value를 정해주면 a 태그 자체가 사라져버린다...inline stlye을 줘도 사라진다.(style="display:block)
			                                        	/content/kia25/us/build002-test.html?car=${car.modelCode}
			                                         -->
			                                            <span class="car_img">
			                                                <img src="${car.carImage}"
			                                                    alt="${car.carModelName}">
			                                            </span>
			                                            <strong class="car_name">${car.carModelName}</strong>
			                                        </a>
			                                    </div>
			                                </li>
					                     </sly> 
				                     </sly>
			
		                         </ul>
	                        </div>
	                      </sly>
	                      
	                      

                    <script type="text/javascript">
                        $(document).ready(function () {

                            fnELeadEvent("sptool_byod_model_page", "#URL", 'BRAND');
                        });
                    </script>
                </div>
            </div>

        </div>

    </div>
</div>