

<sly data-sly-use.model="com.kia25.core.models.Build001Model"></sly>


<div id="container">

    <div id="content" class="subContents">
        <div class="par parsys">
        
            <div class="title parbase section">
                <div class="content_title">
                    <h3 class="con_tit">
                        <p>온라인 견적</p>
                    </h3>
                </div>
            </div>
            
            <div class="parsys section">
                <div class="estimate_online_wrap list">
                    <p class="price_view"><a href="/kr/shopping-tools/catalog-price.html"
                            			     target="_blank">가격표<em>보기</em></a></p>
					
                    <h4 class="hidden">차종 선택</h4>
                    <div class="category">
                        <div class="inbox">
                        	<sly data-sly-list="${model.categoryList}">
	                            <a href="#carTab${itemList.count}" class="${itemList.count == 1? 'on':' '}"><span>${item.categoryName}</span></a>
                            <sly>
                        </div>
                    </div>
					
                    <div class="inner">
	                   	<sly data-sly-list.cate="${model.categoryList}">
	                        <div id="carTab${cateList.count}" class="car_list on">
	                            <h5 class="hidden">${cate.categoryName}</h5>
	                            <ul class="car_u">
			
									<sly data-sly-list.car="${model.modelList}">
										<sly data-sly-test="${cate.categoryCode == car.categoryCode}">              
			                                <li class="car_l" car="${car.modelCode}">
			                                    <div class="car_box">
			                                        <a href="/content/kia25/us/en/build-your-car/build-your-car-002.html?step=2&modelCode=${car.modelCode}" class="car_a"  title="Select">
			                                        <!-- 
				                                        해당 경로에 page가 실제로 존재해야 링크가 연결됨
			                                         -->
			                                            <span class="car_img">
			                                                <img src="${car.carImagePath}"
			                                                    alt="${car.modelName}">
			                                            </span>
			                                            <strong class="car_name">${car.modelName}</strong>
			                                        </a>
			                                    </div>
			                                </li>
					                     </sly> 
				                     </sly>
		                         </ul>
	                         </div>
	                      </sly>
	          		 </div>
           		 </div>

        	</div>

    	</div>
	</div>
</div>