<sly data-sly-use.color="com.kia25.core.models.Build003CrudModel"></sly>
<style>
 body, html, input {
    background:#efefef;
    color: #000000;
    background: #efefef;
}
table.type07 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
  margin: 20px 10px;
}
table.type07 thead {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #BDBDBD;
}
table.type07 thead th {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  color: #000000;
}
table.type07 tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
table.type07 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
</style>

<!-- http://localhost:4502/content/kia25/us/en/page03_crud.html?modelCode=EV6&trimCode=LRA&carOptionCode=E&modelYear=2021 -->
<div class="row">
	<form name="FrmSearch">  
	  <input type="hidden" name="trimCode" id="trimCode"  value="">
	  <input type="hidden" name="modelCode" id="modelCode"  value="">
	  
	  <span class="trim-info"></span>
		<table class="type07" border=1>
		<colgroup>
	    <col width="10%"/>
	    <col width="70%"/>
	    <col width="20%"/>
	  </colgroup>
	        <thead>
	            <tr>
	            <td>검 색</td>
	            <td>
		            <select name="carOptionCode" id="carOptionCode">
		            <option value="E">외장재</option>
		            <option value="I">내장재</option>
		            </select>
	            	<input type="text" id="searchWord" name="searchWord" style="width:70%;">
	            	<select name="useYn" id="useYn">
	            	<option value="">ALL</option>
		            <option value="Y">USE</option>
		            <option value="N">DISUSE</option>
		            </select>
	            </td>
	            <td><button class="btn btn-edit" style="width:50%;" value="search" onclick="topSearch(); return false;" >search</button></td>
	            </tr>
	        </thead>
	    </table>
	</form>
    
    <table  id="resultList" class="type07" width="100%" border="1">
        <thead>
            <tr>
                <th>순서</th>
                <th>차량 이미지</th>
                <th>컬러 코드</th>
                <th>컬러명</th>
                <th>컬러 가격</th>                
                <th>컬러 이미지</th>
                <th>추천 여부</th>
                <th>사용 여부</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
             
        </tbody>
    </table>
    
    <form name="Frm">        
    <table id="example-table-1" width="100%">
        <thead>
            <tr>
                <th>순서</th>
                <th>차량 이미지</th>
                <th>컬러 코드</th>
                <th>컬러 명</th>
                <th>컬러 가격</th>
                <th>컬러 이미지</th>
                <th>추천 여부</th>
                <th>사용 여부</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><input type="text" name="sortOrder" id="sortOrder" style="width:100%;"></td>
                    <td><input type="text" name="carImagePath" id="carImagePath" style="width:100%;"></td>
                    <td><input type="text" name="colorCode" id="colorCode" style="width:100%;"></td>
                    <td><input type="text" name="colorName" id="colorName" style="width:100%;"></td>
                    <td><input type="text" name="colorPrice" id="colorPrice" style="width:100%;"></td>
                    <td><input type="text" name="colorImagePath" id="colorImagePath" style="width:100%;"></td>
                    <td><input type="text" name="bestYn" id="bestYn" style="width:100%;"></td>
                    <td><input type="text" name="useYn" id="useYn" style="width:100%;"></td>
                    <td style="text-align: center;" >
                        <button class="btn btn-edit" onclick="areaSave(); return false;">Save</button>
                        <button class="btn btn-delete" onClick="areaDel(); return false;">Delete</button>
                        <input type="hidden" name="trimCode" id="trimCode"  value="">
                        <input type="hidden" name="carOptionCode" id="carOptionCode" value="">
                    </td>
                </tr>
        </tbody>
    </table>
    </form>
</div>

<iframe name="hiddenZone" src="/dummy.html" width="0" height="0" style="display:none"></iframe>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">
 
$(document).ready(function() {
	topSearch();
});

 

function areaCopy(Count){
	var f = document.Frm;
	var carImagePathList = document.getElementsByName("carImagePathList")[Count];
	var colorCodeList = document.getElementsByName("colorCodeList")[Count];
	var colorNameList = document.getElementsByName("colorNameList")[Count];
	var colorPriceList = document.getElementsByName("colorPriceList")[Count];
	var colorImagePathList = document.getElementsByName("colorImagePathList")[Count];
	var bestYnList = document.getElementsByName("bestYnList")[Count];
	var sortOrderList = document.getElementsByName("sortOrderList")[Count];
	var useYnList = document.getElementsByName("useYnList")[Count];

	f.carImagePath.value = carImagePathList.value;
	f.colorCode.value = colorCodeList.value;	
	f.colorName.value = colorNameList.value;
	f.colorPrice.value = colorPriceList.value;
	f.bestYn.value = bestYnList.value;
	f.colorImagePath.value = colorImagePathList.value;
	f.sortOrder.value = sortOrderList.value;
	f.useYn.value = useYnList.value;
	
	var search = location.search
	var params = new URLSearchParams(search);
	var gettrimCode = params.get('trimCode');
	var getcarOptionCode = params.get('carOptionCode');

	f.trimCode.value = gettrimCode;
	f.carOptionCode.value = getcarOptionCode;
	return false;
}

function refreshMemList(){
	location.reload();
}

function areaSave(){
	var f = document.Frm;
	if (f.colorCode.value.trim() == ""){ 
		alert("colorCode - 입력해주세요"); 
		f.colorCode.focus(); 
		return false;
	}
	
	var search = location.search
	var params = new URLSearchParams(search);
	var gettrimCode = params.get('trimCode');
	var getcarOptionCode = params.get('carOptionCode');
	var colorCode = $("#colorCode").val();
	
	var carImagePath = $("#carImagePath").val();
	var colorName = $("#colorName").val();
	var colorPrice = $("#colorPrice").val();
	var bestYn = $("#bestYn").val();
	var colorImagePath = $("#colorImagePath").val();
	var useYn = $("#useYn").val();
	var sortOrder = $("#sortOrder").val();
	
	var data = {
	   		  "trimCode"    		: gettrimCode
	   		, "carOptionCode"       : getcarOptionCode
	   		, "colorCode"       	: colorCode
	   		, "carImagePath"       	: carImagePath
	   		, "colorName"       	: colorName
	   		, "colorPrice"       	: colorPrice
	   		, "bestYn"       		: bestYn
	   		, "colorImagePath"      : colorImagePath
	   		, "useYn"      			: useYn
	   		, "sortOrder"      		: sortOrder
	   }
		data = JSON.stringify(data)
		
		$.ajax({
			type:"POST",
			url : "/services/color/save",
			data: {
				data : data
			},
			success:function(data){
				
			},
			complete : function() {
				refreshMemList();
		    }
 
		});
	
}

function areaDel(){
	var f = document.Frm;
	
	if (f.colorCode.value.trim() == ""){ 
		alert("colorCode - 목록에서 선택하세요"); 
		return false;
	}
	
	if (!confirm("삭제?")){
		return false;
	}
	
	var search = location.search
	var params = new URLSearchParams(search);
	var gettrimCode = params.get('trimCode');
	var getcarOptionCode = params.get('carOptionCode');
	var colorCodeList = $("#colorCodeList").val();
	
	
	var data = {
	   		  "trimCode"    		: gettrimCode
	   		, "colorCode"       	: colorCodeList
	   		, "carOptionCode"       : getcarOptionCode
	   }
		data = JSON.stringify(data)
		
	  $.ajax({
					type:"POST",
					url : "/services/color/delete",
					data: {
						data : data
					},
					success:function(result){
						
					},
					complete : function() {
						refreshMemList();
				    }
				});	
	
//	f.method ="post";
//	f.action = "/services/color/delete";
//	f.action = "http://kwang.northstar.co.kr/db/color/delete";
//	f.target = "hiddenZone";
//	f.submit();
	
//	window.parent.location.reload();
}

function topSearch(){
	var f = document.FrmSearch;
	var f2 = document.Frm;
	
	var search = location.search
	var params = new URLSearchParams(search);
	var gettrimCode = params.get('trimCode');
	var getmodelCode = params.get('modelCode');
	
	f.trimCode.value = gettrimCode;
	f.modelCode.value = getmodelCode;
	
	f2.carImagePath.value = "";
	f2.colorCode.value = "";	
	f2.colorName.value = "";
	f2.colorPrice.value = "";
	f2.bestYn.value = "";
	f2.colorImagePath.value = "";
	
	/* if (f.searchWord.value.trim() == ""){ 
		alert("searchWord - 입력"); 
		return false;
	} */
 
	var search = location.search
	var params = new URLSearchParams(search);
	var gettrimCode = params.get('trimCode');
	var getmodelCode = params.get('modelCode');
	var getcarOptionCode = $("#carOptionCode").val();
	var getuseYn = $("#useYn").val();
	var getsearchWord = $("#searchWord").val();
	// var getsearchWord = params.get('searchWord');

	var data = {
	   		  "trimCode"    		: gettrimCode
	   		, "modelCode"       	: getmodelCode
	   		, "carOptionCode"       : getcarOptionCode
	   		, "useYn"       		: getuseYn
	   		, "searchWord"       	: getsearchWord.toUpperCase()
	   }
		data = JSON.stringify(data)
		
	  $.ajax({
					type:"POST",
					url : "/services/color/list",
					 async: false,
					data: {
						data : data
					},
					success:function(data){
						 var resultHtml = "";
						 var imgsize ="80";
						 
						 $("#resultList tbody").empty();
						 
				            for(var i = 0; i < data.list.length; i++) {
				            	j = i+1;
				                resultHtml += "<tr>";
				                resultHtml += '<td>'+data.list[i].sortOrder+'</td>';
				                resultHtml += '<td><img src="'+ data.list[i].carImagePath +'" width="'+imgsize+'"></td>';
				                resultHtml += '<td>'+data.list[i].colorCode+'</td>';
				                resultHtml += '<td>'+data.list[i].colorName+'</td>';
				                resultHtml += '<td>'+parseInt(data.list[i].colorPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+'</td>';
				                resultHtml += '<td><img src="'+data.list[i].colorImagePath+'" width="'+imgsize+'"></td>';
				                resultHtml += '<td>'+data.list[i].bestYn+'</td>';
				                resultHtml += '<td>'+data.list[i].useYn+'</td>';
				                resultHtml += '<td><button class="btn btn-edit" id="button" style="width:50%" onClick="areaCopy('+i+')">Edit</button></td>';
				                resultHtml += '</tr>';
				                
				                resultHtml += '<input type="hidden" id="trimCodeList" name="trimCodeList" value="'+gettrimCode+'"> ';
				                resultHtml += '<input type="hidden" id="carOptionCodeList"  name="carOptionCodeList" value="'+getcarOptionCode+'">';
				                resultHtml += '<input type="hidden" id="sortOrderList" name="sortOrderList" value="'+data.list[i].sortOrder+'">';
				                resultHtml += '<input type="hidden" id="carImagePathList"  name="carImagePathList" value="'+data.list[i].carImagePath+'">';
				                resultHtml += '<input type="hidden" id="colorCodeList" name="colorCodeList" value="'+data.list[i].colorCode+'">';
				                resultHtml += '<input type="hidden" id="colorNameList" name="colorNameList" value="'+data.list[i].colorName+'">';
				                resultHtml += '<input type="hidden" id="colorPriceList" name="colorPriceList" value="'+data.list[i].colorPrice+'">';
				                resultHtml += '<input type="hidden" id="colorImagePathList" name="colorImagePathList" value="'+data.list[i].colorImagePath+'">';
				                resultHtml += '<input type="hidden" id="bestYnList" name="bestYnList" value="'+data.list[i].bestYn+'">';
				                resultHtml += '<input type="hidden" id="useYnList" name="useYnList" value="'+data.list[i].useYn+'">';
				                resultHtml += '<input type="hidden" id="countList" name="countList" value="'+ i +'">';
				            }
				            $("#resultList tbody").html(resultHtml);
					}
					 
				});
}

</script>
