<div data-sly-use.model="com.kia25.core.models.Build003Helper">
	<p>1 리스트 ${model.modelList.size}</p>
	<ul data-sly-list="${model.modelList}" data-sly-test="${model.modelList}">
		<li> model Code : ${item.modelName}</li>
		<li> model Name : ${item.modelId}</li>
    </ul>
</div>


<div data-sly-use.color="com.kia25.core.models.Build003Helpercolor">
	<p>2 리스트 ${model.color.size}</p>
	<ul data-sly-list="${model.color}" data-sly-test="${model.color}">
		<li> color Code : ${item.colorCode}</li>
		<li> color Name : ${item.colorName}</li>
    </ul>
</div>

<sly data-sly-use.data="com.kia25.core.models.Build003Helper"></sly>

<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlibs.all @ categories='kia25.base'}" />

<div class="estimate_online_wrap">
    <!-- step 시작 -->
    <div class="step_wrap">
        <ul>
            <li class="step1">
                <a href="/kr/shopping-tools/build-your-car/vehicle-lineup.html">
                    <span>처음으로</span>
                </a>
            </li>

            <li class="step2 off">
                <a href="vehicle-lineup.trim.car=EV6.trim=CVJJ5VH31-A.dpcd=N.html">
                    <span class="basic">상세차종 선택</span>
                    <span class="result">EV6 스탠다드 라이트(Light)</span>
                </a>
            </li>

            <li class="step3 off">
                <a href="vehicle-lineup.color.car=EV6-SEV.trim=CVJJ5VH31-A.ext=SWP.int=IN_EV6_BL.dpcd=N.html">
                    <span class="basic">컬러 선택</span>
                    <span class="result">스노우 화이트 펄</span>
                </a>
            </li>

            <li class="step4 on">
                <span class="basic">옵션 선택</span>
            </li>
            
            <li class="step5 ">
                <span class="basic">구매 방법</span>
                <span class="result"></span>
            </li>

            <li class="step6 ">
                <span class="basic">견적완료</span>
            </li>
        </ul>
    </div><!-- // byoTab -->
    <!-- // step 끝 -->

    <div class="inner build_car">
		<div class="build_preview build_color_preview"> <!-- 컬러선택 페이지 build_color_preview 클래스 추가 -->
			<div class="preview">
				<h4 class="hidden">STEP 2 컬러선택</h4>
				<div class="car_name">
					<strong class="name">K3</strong>
					<span class="option">1.6 가솔린 트렌디</span>
					<button type="button" class="bl_type_b btn_car_view" data-on-text="차량닫기" data-off-text="차량보기">차량보기</button>
				</div>
				<div class="car_img">
					<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_m4b.png" alt="1.6 가솔린 트렌디">
					
					<p class="car_desc">※ 본 차량의 이미지는 실제와 다를 수 있습니다.</p>
				</div>
			</div>
			<div class="build_graph hide">
				<h5 class="build_tit">추천 컬러</h5>
				<div class="graph" style="background-position: 0px -12880px;">
					<span class="rate"><em class="num">70</em>%</span>
				</div>
				<ol class="rank">
					<li><em class="num">1위</em>스노우 화이트 펄</li>
					<li><em class="num">2위</em>플라티늄 그라파이트</li>
					<li><em class="num">3위</em>그래비티 블루</li>
				</ol>
			</div>
		</div>
	</div>
	<p class="line_wrap"></p>
	<div class="inner build_car build_area">
		<div class="build_color">
			<div class="build_color_inner">
				<h5 class="build_tit">외장 컬러 선택</h5>
				<strong class="build_h">외장</strong>
				<ul class="color_list">
					
					<li class="color_l exteriorOption on" price="0" img="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_m4b.png" color="M4B">
						<a href="#" class="color_a" title="선택">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/sorento_mq4_m4b.jpg" alt="미네랄 블루">
                  			<span class="sel"></span>
						</a>
						<span class="box_info color_info">
							<span class="name">미네랄 블루</span> 
							<span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span>
						</span>
					</li>
					
					<li class="color_l exteriorOption" price="0" img="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_abp.png" color="ABP">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/allnewk7_abp.jpg" alt="오로라 블랙 펄">
                  			<span class="sel"></span>
						</a>
						<span class="box_info color_info">
							<span class="name">오로라 블랙 펄</span> 
							<span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span>
						</span>
					</li>
					
					<li class="color_l exteriorOption" price="0" img="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_b4u.png" color="B4U">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/allnewk7_b4u.jpg" alt="그래비티 블루">
                  			<span class="sel"></span>
						</a>
						<span class="box_info color_info">
							<span class="name">그래비티 블루</span> 
							<span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span>
						</span>
					</li>
					
					<li class="color_l exteriorOption" price="0" img="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_abt.png" color="ABT">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/ABT.jpg" alt="플라티늄 그라파이트">
                  			<span class="sel"></span>
						</a>
						<span class="box_info color_info">
							<span class="name">플라티늄 그라파이트</span> 
							<span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span>
						</span>
					</li>
					
					<li class="color_l exteriorOption" price="0" img="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_klg.png" color="KLG">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/KLG.jpg" alt="스틸 그레이">
                  			<span class="sel"></span>
						</a>
						<span class="box_info color_info">
							<span class="name">스틸 그레이</span> 
							<span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span>
						</span>
					</li>
					
					<li class="color_l exteriorOption" price="0" img="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_k3_the_new_swp.png" color="SWP">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/swp.jpg" alt="스노우 화이트 펄">
                  			<span class="sel"></span>
						</a>
						<span class="box_info color_info">
							<span class="name">스노우 화이트 펄<em class="tag_recommend">추천</em></span> 
							<span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span>
						</span>
					</li>
					
				</ul>
			</div>
			<div class="build_color_inner">
				<h5 class="build_tit">내장 컬러 선택</h5>
				<strong class="build_h">내장</strong>
				<ul class="color_list">
					
					<li class="color_l interiorOption M4B on" price="0" color="K3_BL_PACK" style="display: list-item;">
						<a href="#" class="color_a" title="선택">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/K3_black_seatpack.jpg" alt="블랙 인테리어">
							<span class="sel"></span>
						</a>
						<span class="box_info color_info"><span class="name">블랙 인테리어</span> <span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span></span>
					</li>
					
					<li class="color_l interiorOption ABP" price="0" color="K3_BL_PACK" style="display: none;">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/K3_black_seatpack.jpg" alt="블랙 인테리어">
							<span class="sel"></span>
						</a>
						<span class="box_info color_info"><span class="name">블랙 인테리어</span> <span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span></span>
					</li>
					
					<li class="color_l interiorOption B4U" price="0" color="K3_BL_PACK" style="display: none;">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/K3_black_seatpack.jpg" alt="블랙 인테리어">
							<span class="sel"></span>
						</a>
						<span class="box_info color_info"><span class="name">블랙 인테리어</span> <span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span></span>
					</li>
					
					<li class="color_l interiorOption ABT" price="0" color="K3_BL_PACK" style="display: none;">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/K3_black_seatpack.jpg" alt="블랙 인테리어">
							<span class="sel"></span>
						</a>
						<span class="box_info color_info"><span class="name">블랙 인테리어</span> <span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span></span>
					</li>
					
					<li class="color_l interiorOption KLG" price="0" color="K3_BL_PACK" style="display: none;">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/K3_black_seatpack.jpg" alt="블랙 인테리어">
							<span class="sel"></span>
						</a>
						<span class="box_info color_info"><span class="name">블랙 인테리어</span> <span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span></span>
					</li>
					
					<li class="color_l interiorOption SWP" price="0" color="K3_BL_PACK" style="display: none;">
						<a href="#" class="color_a">
							<img src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/color/K3_black_seatpack.jpg" alt="블랙 인테리어">
							<span class="sel"></span>
						</a>
						<span class="box_info color_info"><span class="name">블랙 인테리어</span> <span class="price"><em class="ico_plus">+</em>0<em class="won">원</em></span></span>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	

    <!-- s:옵션 안내 팝업 -->
    <div id="optionGuide" class="popup_wrap popup new_popup" style="display: none; width: 1460px; position: absolute; left: 305px;">
        <h3 class="pop_tit">옵션 안내</h3>
        <div class="pop_con">
            <ul class="bbs_type1 pop_guide_list">
            	<!-- 반복문 start -->
                <li class="bbs_li" opt="DWP">
                    <button type="button" href="#none" class="bbs_head bbs_a">
                    	드라이브 와이즈
                        <span data-on-text="옵션 설명 접기" data-off-text="옵션 설명 펄침">
                            <em class="ico_pop_down">옵션 설명 펄침</em>
                        </span>
                    </button>
                    <div class="bbs_body">
						전방 충돌방지 보조(교차 차량, 추월 시 대향차, 측방 접근차, 회피 조향 보조 기능 포함), 후측방 충돌방지 보조, 후방 교차 충돌방지 보조, 내비게이션 기반 스마트 크루즈 컨트롤(진출입로), 고속도로 주행 보조 2(차로 변경 보조 기능 포함), 안전 하차 보조, 전자식 차일드락
                    </div>
                </li>

                <li class="bbs_li" opt="CVN">
                    <button type="button" href="#none" class="bbs_head bbs_a">
                    	컨비니언스
                        <span data-on-text="옵션 설명 접기" data-off-text="옵션 설명 펄침">
                            <em class="ico_pop_down">옵션 설명 펄침</em>
                        </span>
                    </button>
                    <div class="bbs_body">
						전자식 룸미러(ECM), 러기지 보드, 하이패스 자동결제 시스템, 러기지 파워아웃렛, 스마트폰 무선충전 시스템, 기아 디지털 키, 레인센서
                    </div>
                </li>
                <!-- 반복문 end -->
            </ul>
        </div>
        <a href="#" class="closeBtn"><span>닫기</span></a>
    </div>
    <!-- s:옵션 안내 팝업 end-->

    <!-- s:튜온 안내 팝업 k3gt용 하드코딩 -->
    <div id="tuonGuide" class="popup_wrap popup new_popup" style="display: none; width: 1460px; position: absolute; left: 360px;">
        <h3 class="pop_tit">튜온 안내</h3>
        <div class="pop_con">
            <ul class="bbs_type1 pop_guide_list">				
                <li class="bbs_li bbs_open" opt="TU1">
                    <button id="popBtnNm" type="button" href="#none" class="bbs_head bbs_a">
                        
                    </button>
                    <div id="popCon" class="bbs_body" style="">
                        
                    </div>
                </li>							
            </ul>
        </div>
        <a href="#" class="closeBtn"><span>닫기</span></a>
    </div>
    <!-- s:튜온 안내 팝업 end-->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.btn_totalCon_close').click(function() {
        if($('.byoTotal').hasClass('on') === true) {
            $('.byoTotal').removeClass('on');
            $('.totalCon').css('display', 'none');
        }
    });
</script>