<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"  data-sly-call="${clientLib.all @ categories='kia25.base'}"></sly>
<sly data-sly-use.option="com.kia25.core.models.Build004_CRUD"></sly>

<template data-sly-template.formattedPrice="${ @ price}" data-sly-use.priceFormatter="${'com.kia25.core.models.CurrencyFormatterModel' @ value=price}">
		${priceFormatter.formattedPrice}<em>원</em>
</template>

<p>${option.optionList.size}</p>
<div class="row">
		<table id="example-table-1" width="100%" class="table table-bordered table-hover text-center">
			<thead>
				<tr>
					<th>옵션 코드</th>
					<th>옵션 명</th>
					<th>옵션 가격</th>
					<th>추천 여부</th>
					<th>옵션 이미지</th>
					<th>Car Option Code</th>
					<th>사양코드</th>
					<th>옵션상품번호</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>		

                <sly data-sly-test="${option.optionList}">
                    <sly data-sly-list.opt="${option.optionList}" >
                    	<tr>
                            <td data-field="optionCode" data-value="${opt.optionCode}">${opt.optionCode}</td>
							<td data-field="optionName" data-value="${opt.optionName}">${opt.optionName}</td>
							<td data-field="optionPrice" data-value="${opt.optionPrice}"><sly data-sly-call="${formattedPrice @ price=opt.optionPrice}"></sly></td>
                            <td data-field="bestYn" data-value="${opt.bestYn}">${opt.bestYn}</td>
                            <td data-field="optionImagePath" data-value="${opt.optionImagePath}">${opt.optionImagePath}</td>
                            <td data-field="carOptionCode" data-value="${opt.carOptionCode != null ? opt.carOptionCode : 'null'}">${opt.carOptionCode != null ? opt.carOptionCode : '-'}</td>
                            <td data-field="specificationCode" data-value="${opt.specificationCode != null ? opt.specificationCode : 'null'}">${opt.specificationCode != null ? opt.specificationCode : '-'}</td>
                            <td data-field="optionProductNumber" data-value="${opt.optionProductNumber != null ? opt.optionProductNumber : 'null'}">${opt.optionProductNumber != null ? opt.optionProductNumber : '-'}</td>
                            <td style="text-align: center;">	
                            	<button class="btn btn-edit">Edit</button>
                            	<button class="btn btn-delete">Delete</button>
                            </td>
						</tr>
                    </sly>
                </sly>
			</tbody>
		</table>
		
		<div id="myModal" class="modal">

		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <p>Some text in the Modal..</p>
		  </div>
		
		</div>
		
		<div class="col-lg-12" id="ex1_Result1" ></div> 
		<div class="col-lg-12" id="ex1_Result2" ></div> 
	</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>