
/*
*	build002 공통 css
*/

select {
	height: 30px;
	width: 150px;
	border: 1px solid #1b5ac2;
	text-align: center;
}

.searchDiv  {
	height: 30px;
	width: 280px;
	border: 1px solid #1b5ac2;
	background: white;
	display: inline-block;
}

.searchBtn {
	width: 50px;
	height: 30px;
	border: 0;
	background: #1b5ac2;
	float: right;
	color: white;
}








/*
*	build002 carGroup 관련 css
*/

.carGroupSearch {
	width: 200px;
	font-size: 15px;
	padding: 3px;
	text-align: left;
	border: 0;
}





/*
*	build002 trim 관련 css
*/

.trimSearch {
	width: 200px;
	font-size: 15px;
	padding: 3px;
	text-align: left;
	border: 0;
}










