
/*
*	build002 공통 css
*/

select {
	height: 30px;
	width: 150px;
	border: 1px solid rgb(27, 90, 194);
	text-align: center;
}

.searchDiv  {
	height: 30px;
	width: 280px;
	border: 1px solid #1b5ac2;
	background: white;
	display: inline-block;
}

/* 검색창 input요소 css */
.carGroupSearch, .trimSearch  {
	width: 150px;
	font-size: 15px;
	padding: 3px;
	text-align: left;
	border: 0;
}

.searchBtn {
	width: 50px;
	height: 30px;
	border: 0;
	background: #1b5ac2;
	float: right;
	color: white;
}






/* 등록, 삭제 버튼 css */
.carAddBtn, .trimAddBtn {
	width: 50px;
	height: 30px;
	text-align: center;
	background: rgb(147, 230, 253);
	color: white;
}

.carDelBtn, .trimDelBtn {
	width: 50px;
	height: 30px;
	text-align: center;
	background: rgb(255, 128, 128);
	color: white;
}





/*
*	build002 carGroup 관련 css
*/












/*
*	build002 trim 관련 css
*/











