@charset "utf-8";


/* build 001 css 
* 	헤더가 없어서 스크롤시 카테고리가 화면 중간즈음에 위치되는 현상이 생김. 
* 	이에 최상단으로 붙이는 css를 추가함 
*/
.estimate_online_wrap.list .category.fixed{
	top:0px !important;
}	
	
	
/* 
* 
 navi css 
*/

.btn_area{
	text-align: inherit !important;
}

/* .estimate_online_wrap이 relative로 걸려있기 때문에  다른 컴포넌트 없이 배치시 위치가 위로 솟음*/
/* 이걸 추가해주면 상세견적 전체 선택 내용보기가 열렸다가 닫혔다가 잘 작동함 */
.byoTotal.on .totalCon {
    top: auto !important;
}


.ico_prev, .ico_next{
	cursor: pointer;
}


/*
* CRUD 관련 CSS
*/

.contentBox{
    padding: 15px;
}

.btn{
    display: inline-block !important;
    border: 1px solid black !important;
    padding:5px 5px 5px 5px !important;
    height: 25px !important;
    background-color: darkgrey !important;
    color: white !important;
    font-weight: bold !important;
    cursor: pointer !important;

}

.search{
    display: inline-block;
    height: 30px;
    width: 300px;
    text-align: center;
    font-size: 18px;
}


.modelTbl, .categoryTbl{
    border-spacing: 0;
    margin: 10px 10px 10px 0px;
    width: 900px;
    text-align: center;
}

.modelTbl thead, .categoryTbl thead{
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}

.modelTbl tbody tr:hover, .categoryTbl tbody tr:hover{
    background-color: gainsboro;
    font-weight: bold;
}

.modelTbl thead tr td, .modelTbl tbody tr td, .categoryTbl thead tr td, .categoryTbl tbody tr td{
    border: 1px solid black;
    padding: 5px;
}

.chk{
    transform : scale(2.0);
}

.categoryTbl{
    margin-bottom: 10px;
}

.reg{
    margin-left: 805px;

}

.checkedTr{
    background-color: gainsboro;
    font-weight: bold;
}

.condition{
    height: 35px;
    width: 150px;
    text-align: center;
    font-size: 15px;
}

.radioCURD{
    transform : scale(1.5) !important;
    margin-left: 15px !important;
    margin-right: 8px !important;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: none;
}


.regBox, .modBox{
    display: none;
}

.onModal{

    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 500px;
    height: 554px;
    background-color: rgb(255, 255, 255);

}

.onModal h2{
    text-align: center;
    margin-top: 20px;
}

.onModal input{
    display: block;
    height: 25px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin-left: 111px;
    margin-top: 5px;
    border: 1px solid black;
}

.onModal p{
    text-align: center;
    font-size: 18px;
}

.onModal .confirm{
    width: 230px;
    margin-left: 153px;
    margin-top: 20px;
    text-align: center;
}

