
<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlibs.all @ categories='kia25.base'}" />

<sly data-sly-use.model="com.kia25.core.models.NaviModel"></sly>




        <div class="estimate_online_wrap">

            <div class="build_car">
                <div class="byoTotal">
                    <div class="btn_area">
                        <a href="vehicle-lineup.car=EV6.dpcd=N.html" class="btnPrev"><span class="ico_prev">이전</span></a>
                        <a href="javascript:nextStep();" class="btnNext btnActMove on"><span class="ico_next">다음</span></a>
                        <!-- javascript:nextStep() -->
                    </div>
                    <div class="totalBar">
                        <a href="#" class="btn_totalCon_open" title="상세견적 선택 내용 열기">
                            <span class="txt">Total</span>
                            <span class="price" title="상세견적 총 금액">${model.totalPrice}</span><em class="won">원</em>
                        </a>
                    </div>




                    <div class="totalCon" style="display: none;">
                        <div class="totalCon_wrap">
                            <div class="totalCon_inner">
                                <strong class="hidden">상세견적 전체 선택 내용보기</strong>
                                <ul class="totalList">
                                    <li class="list01">
                                        <div class="list_in">
                                            <strong>모델</strong>
                                            <p style="display:none;">차량을 선택해 주세요.</p>
                                            <div class="con" price="53460000">
                                                <span class="fixed conTitle">${model.trim.trimName}</span>
                                                <span class="fixed carImg"><img
                                                        src="${model.model.carImage}"
                                                        alt=""></span>
                                                <span class="fixed conPrice">${model.trim.sellingPrice}<em>원</em></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list02">
                                        <div class="list_in">
                                            <strong>외장컬러</strong>
                                            <sly data-sly-test="${model.colorList.size == null}">

                                           		 <p>선택정보가 없습니다.</p>
                                           	</sly>
                                	        <sly data-sly-test="${model.colorList.size > 0}">
                                	      
                                	        	<sly data-sly-list.col="${model.colorList}">
                                	        	
                                	        		<sly data-sly-test="${col.carOptionCode=='E'}">

			                                            <div class="con con_exterior" price1="${col.colorPrice}">
			                                                <span>
			                                                    <span class="colorArea"><img src="${col.colorImgPath}" alt="" class="colorImg"></span>
			                                                    <em class="conTitle">${col.colorName}</em>
			                                                </span>
			                                                <span class="conPrice">${col.colorPrice}<em>원</em></span>
			                                            </div>
                                	        		</sly>
                                	        	
                              	        	     
		                                             
	                                            </sly>
	                                        </sly>
                                        </div>
                                        <div class="list_in">
                                            <strong>내장컬러</strong>
                                            
                                           <sly data-sly-test="${model.colorList.size == null}">
                                           		 <p>선택정보가 없습니다.</p>
                                           	</sly>
                                           	
                                           	<sly data-sly-test="${model.colorList.size > 0}">
                                           		<sly data-sly-list.col="${model.colorList}">
	                                           		<sly data-sly-test="${col.carOptionCode=='I'}">
			                                            <div class="con con_interior" price2="${col.colorPrice}">
			                                                <span>
			                                                    <span class="colorArea"><img src="${col.colorImgPath}" alt="" class="colorImg"></span>
			                                                    <em class="conTitle">${col.colorName}</em>
			                                                </span>
			                                                <span class="conPrice">${col.colorPrice}<em>원</em></span>
			                                            </div>
			                                         </sly>
		                                         </sly>
	                                        </sly>
                                        </div>
                                    </li>
                                    <li class="list03">
                                        <div class="list_in">
                                            <strong>선택옵션</strong>
                                            <sly data-sly-test="${model.optionList.size == null}">
	                                            <p>선택정보가 없습니다.</p>
	                                        </sly>
                                            <sly data-sly-test="${model.optionList.size > 0}">
	                                                <div class="con">
	                                                	<sly data-sly-list.opt="${model.optionList}">
															<span class="fixed" price="${opt.optionPrice}">
							                                	<em class="conTitle">${opt.optionName}</em>
							                                	<span class="conPrice">${opt.optionPrice}<em>원</em>
						                                		</span>
															</span>
														</sly>
	
	                                                </div>
	                                                <!-- 
	                                            <div style="display:none;">
	                                            </div>
	                                             -->
                                            </sly>
                                        </div>
                                    </li>
                                    <li class="list04">
                                        <div class="list_in">
                                            <strong>구매방법</strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div class="con_pay" style="display:none;">
                                                <span><em class="tit">지불방법</em><em class="txt">현금구입</em></span>

                                            </div>
                                        </div>
                                        <div class="list_in">
                                            <strong><em>할인내역 / </em><em>기타비용</em></strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div class="con_etc" style="display:none;">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn_totalCon_close"><span>상세견적 선택 내용 닫기</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dimmed" style="display: none;"></div>
            <div class="dimmed_outClick" style="position:fixed; display:none;"></div>
        </div>
