
<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlibs.all @ categories='kia25.base'}" />


        <div class="estimate_online_wrap">

            <div class="build_car">
                <div class="byoTotal">
                    <div class="btn_area">
                        <a href="vehicle-lineup.car=EV6.dpcd=N.html" class="btnPrev"><span class="ico_prev">이전</span></a>
                        <a href="javascript:nextStep();" class="btnNext btnActMove on"><span class="ico_next">다음</span></a>
                        <!-- javascript:nextStep() -->
                    </div>
                    <div class="totalBar">
                        <a href="#" class="btn_totalCon_open" title="상세견적 선택 내용 열기">
                            <span class="txt">Total</span>
                            <span class="price" title="상세견적 총 금액">53,460,000</span><em class="won">원</em>
                        </a>
                    </div>
                    



                    <div class="totalCon" style="display: none;">
                        <div class="totalCon_wrap">
                            <div class="totalCon_inner">
                                <strong class="hidden">상세견적 전체 선택 내용보기</strong>
                                <ul class="totalList">
                                    <li class="list01">
                                        <div class="list_in">
                                            <strong>모델</strong>
                                            <p style="display:none;">차량을 선택해 주세요.</p>
                                            <div class="con" price="53460000">
                                                <span class="fixed conTitle">EV6 롱 레인지 라이트(Light)</span>
                                                <span class="fixed carImg"><img
                                                        src="https://www.kia.com/content/dam/kwcms/kr/ko/images/byo/car_ev6_standard.png"
                                                        alt=""></span>
                                                <span class="fixed conPrice">53,460,000<em>원</em></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list02">
                                        <div class="list_in">
                                            <strong>외장컬러</strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div class="con con_exterior" price1="0" style="display:none;">
                                                <span>
                                                    <span class="colorArea"><img src="" alt="" class="colorImg"></span>
                                                    <em class="conTitle"></em>
                                                </span>
                                                <span class="conPrice">0<em>원</em></span>
                                            </div>
                                        </div>
                                        <div class="list_in">
                                            <strong>내장컬러</strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div class="con con_interior" price2="0" style="display:none;">
                                                <span>
                                                    <span class="colorArea"><img src="" alt="" class="colorImg"></span>
                                                    <em class="conTitle"></em>
                                                </span>
                                                <span class="conPrice">0<em>원</em></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list03">
                                        <div class="list_in">
                                            <strong>선택옵션</strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div style="display:none;">
                                                <div class="con">


                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list04">
                                        <div class="list_in">
                                            <strong>구매방법</strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div class="con_pay" style="display:none;">
                                                <span><em class="tit">지불방법</em><em class="txt">현금구입</em></span>

                                            </div>
                                        </div>
                                        <div class="list_in">
                                            <strong><em>할인내역 / </em><em>기타비용</em></strong>
                                            <p>선택정보가 없습니다.</p>
                                            <div class="con_etc" style="display:none;">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn_totalCon_close"><span>상세견적 선택 내용 닫기</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dimmed" style="display: none;"></div>
            <div class="dimmed_outClick" style="position:fixed; display:none;"></div>
        </div>
