

<sly data-sly-use.model="com.kia25.core.models.Build001CrudModel"></sly>



<div class="contentBox">


        <select name="categoryCon" class="condition">
            <option value="none">선택</option>
            <option value="categoryCode" >카테고리 코드</option>
            <option value="categoryName">카테고리 이름</option>
        </select>
        
        <input class="search" name="categoryCon" type="text" placeholder="검색조건"> <div class="btn sConfirm">검색</div>
        

            
        <table  class="categoryTbl">
            <thead>
                <tr>
                    <td></td>
                    <td>카테고리 코드</td>
                    <td>카테고리 이름</td>
                    <td>정렬 순서</td>
                    <td>사용 여부</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>

               	<sly data-sly-list="${model.categoryList}">
	                <tr>
	                    <td><input type="checkbox" name="categoryChk" class="chk" categoryCode="${item.categoryCode}"></td>
	                    <td>${item.categoryCode}</td>
	                    <td>${item.categoryName}</td>
	                    <td>${item.sortOrder}</td>
	                    <td>${item.useYn}</td>
	                    <td><div class="btn update cate" 
	                    		 categoryCode="${item.categoryCode}" 
	                    		 categoryName="${item.categoryName}" 
	                    		 sortOrder="${item.sortOrder}" 
	                    		 useYn="${item.useYn}">수정</div></td>
	                </tr>
				</sly>
                
            </tbody>

        </table>

        <div class="btn reg cate">등록</div>
        <div class="btn delete cate">삭제</div>

        <br><br><br>


        <select name="modelCon" class="condition">
            <option value="none">선택</option>
            <option value="modelCode">모델 코드</option>
            <option value="modelName">모델 이름</option>
            <option value="modelYear">모델 년도</option>
        </select>
        
        <input class="search" type="text" name="modelCon" placeholder="검색조건"> <div class="btn mConfirm">검색</div>
    
        <br>
        카테고리: 
        <sly data-sly-list="${model.categoryList}">
        	<input class="radioCURD" type="radio" name="cateSort" index="${itemList.count}" value="${item.categoryCode}" >${item.categoryName}
        </sly>
        

        <table class="modelTbl">
            <thead>
                <tr>
                    <td> </td>
                    <td>카테고리 코드</td>
                    <td>모델 코드</td>
                    <td>모델 년도</td>
                    <td>모델 이름</td>
                    <td>모델 이미지</td>
                    <td>정렬 순서</td>
                    <td>사용 여부</td>
                    <td></td>
                </tr>
            </thead>
            
            <tbody>
               	<sly data-sly-list="${model.modelList}">
	                <tr>
	                    <td> <input type="checkbox" name="modelChk" class="chk" modelCode="${item.modelCode}" modelYear="${item.modelYear}"> </td>
	                    <td>${item.categoryCode}</td>
	                    <td>${item.modelCode}</td>
	                    <td>${item.modelYear}</td>
	                    <td>${item.modelName}</td>
	                    <td><img style="height:100px;" src="${item.carImagePath}"></td>
	                    <td>${item.sortOrder}</td>
	                    <td>${item.useYn}</td>
	                    <td><div class="btn update model" 
	                    		 categoryCode="${item.categoryCode}"
	                    		 modelCode="${item.modelCode}" 
	                    		 modelYear="${item.modelYear}" 
	                    		 modelName="${item.modelName}"
	                    		 carImagePath="${item.carImagePath}"
	                    		 sortOrder="${item.sortOrder}"
	                    		 useYn="${item.useYn}">수정</div></td>
	                </tr>
				</sly>

            </tbody>
        </table>

        <div class="btn reg model">등록</div>
        <div class="btn delete model">삭제</div>

  
    



    <div class="modal">

       
        <div class="cate regBox">
            <h2>카테고리 등록</h2>
            <input type="text" name="categoryRegCode" placeholder="카테고리 코드">
            <input type="text" name="categoryRegName" placeholder="카테고리 이름"> 
            <input type="text" name="categoryRegOrder" placeholder="카테고리 순서"> 
            <input type="text" name="categoryRegUseYn" placeholder="카테고리 사용여부"> 
            <div class="btn confirm">확인</div>
        </div>
        

      

        <div class="cate modBox">
            <h2>카테고리 수정</h2>
            <p>카테고리 코드: </p><p class="categoryCode"></p>
            <p>카테고리 이름: </p><input type="text" class="categoryName"> 
            <p>정렬순서: </p><input type="text" class="categoryOrder"> 
            <p>사용여부: </p><input type="text" class="categoryUseYn"> 
            <div class="btn confirm">확인</div>
        </div>
       


        <div class="model regBox">
            <h2>모델 등록</h2>
            <input name="modelCateRegCode" type="text" placeholder="카테고리 코드">
            <input name="modelRegCode" type="text" placeholder="모델 코드"> 
            <input name="modelRegYear" type="text" placeholder="모델 년도"> 
            <input name="modelRegName" type="text" placeholder="모델 이름"> 
            <p>모델 이미지: </p><input type="text" name="modelRegImg" placeholder="모델 이미지"> 
            <input name="modelRegOrder" type="text" placeholder="정렬 순서"> 
            <input name="modelRegUseYn" type="text" placeholder="사용 여부"> 
            <div class="btn confirm">확인</div>
        </div>
    
            
      
       <div class="model modBox">
           <h2>모델 수정</h2>
           <p><b>카테고리 코드:</b></p> <input type="text" name="modelCateModCode" class="categoryCode">
           <p><b>모델 코드:</b></p> <p class="modelCode"></p>
           <p><b>모델 년도:</b></p> <p class="modelYear"></p>
           <p><b>모델 이름:</b></p> <input type="text" name="modelModName" class="modelName"> 
           <p><b>모델 이미지:</b></p> <input type="text" name="modelModImg" class="modelImg"> 
           <p><b>정렬 순서:</b></p> <input type="text" name="modelModOrder" class="modelOrder"> 
           <p><b>사용 여부:</b></p> <input type="text" name="modelModUseYn" class="modelUseYn"> 
           <div class="btn confirm">확인</div>
       </div>
        
            

    </div>

</div>

    