

<sly data-sly-use.model="com.kia25.core.models.Build001CrudModel"></sly>



<div class="contentBox">

        <form action="">

            <select name="categoryCon" class="condition">
                <option value="none">선택</option>
                <option value="categoryCode" >카테고리 코드</option>
                <option value="categoryName">카테고리 이름</option>
            </select>
            
            <input class="search" name="categoryCon" type="text" placeholder="검색조건"> <div class="btn sConfirm">검색</div>
        </form>

            
        <table  class="categoryTbl">
            <thead>
                <tr>
                    <td></td>
                    <td>카테고리 코드</td>
                    <td>카테고리 이름</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>

               	<sly data-sly-list="${model.categoryList}">
	                <tr>
	                    <td><input type="checkbox" name="categoryChk" class="chk" categoryCode="${item.categoryCode}"></td>
	                    <td>${item.categoryCode}</td>
	                    <td>${item.categoryName}</td>
	                    <td><div class="btn update cate" categoryCode="${item.categoryCode}" categoryName="${item.categoryName}">수정</div></td>
	                </tr>
				</sly>
                
            </tbody>

        </table>

        <div class="btn reg cate">등록</div>
        <div class="btn delete cate">삭제</div>

        <br><br><br>

        <form action="">

            <select name="" class="condition">
                <option value="">선택</option>
                <option value="">모델 코드</option>
                <option value="">모델 이름</option>
                <option value="">모델 년도</option>
            </select>
            
            <input class="search" type="text" placeholder="검색조건"> <div class="btn">검색</div>
        </form>
        
        <br>
        카테고리: 
        <sly data-sly-list="${model.categoryList}">
        	<input class="radioCURD" type="radio" name="cateSort" index="${itemList.count}" value="${item.categoryCode}" >${item.categoryName}
        </sly>
        

        <table class="modelTbl">
            <thead>
                <tr>
                    <td> </td>
                    <td>카테고리 코드</td>
                    <td>모델 코드</td>
                    <td>모델 년도</td>
                    <td>모델 이름</td>
                    <td>모델 이미지</td>
                    <td></td>
                </tr>
            </thead>
            
            <tbody>
               	<sly data-sly-list="${model.modelList}">
	                <tr>
	                    <td> <input type="checkbox" name="modelChk" class="chk" modelCode="${item.modelCode}" modelYear="${item.modelYear}"> </td>
	                    <td>${item.categoryCode}</td>
	                    <td>${item.modelCode}</td>
	                    <td>${item.modelYear}</td>
	                    <td>${item.modelName}</td>
	                    <td><img style="height:100px;" src="${item.carImagePath}"></td>
	                    <td><div class="btn update model" categoryCode="${item.categoryCode}" modelCode="${item.modelCode}" modelYear="${item.modelYear}" modelName="${item.modelName}">수정</div></td>
	                </tr>
				</sly>

            </tbody>
        </table>

        <div class="btn reg model">등록</div>
        <div class="btn delete model">삭제</div>

    </div>
    



    <div class="modal">

       
        <div class="cate regBox">
            <h2>카테고리 등록</h2>
            <input type="text" name="categoryRegCode" placeholder="카테고리 코드">
            <input type="text" name="categoryRegName" placeholder="카테고리 이름"> 
            <div class="btn confirm">확인</div>
        </div>
        

        <form action="">

            <div class="cate modBox">
                <h2>카테고리 수정</h2>
                <p>카테고리 코드: </p><p class="categoryCode"></p>
                <p>카테고리 이름: </p><input type="text" class="categoryName"> 
                <div class="btn confirm">확인</div>
            </div>
        </form>


        <form action="">
            
            <div class="model regBox">
                <h2>모델 등록</h2>
                <input type="text" placeholder="카테고리 코드">
                <input type="text" placeholder="모델 코드"> 
                <input type="text" placeholder="모델 년도"> 
                <input type="text" placeholder="모델 이름"> 
                <p>모델 이미지: </p><input type="file" placeholder="모델 이미지"> 
                <div class="btn confirm">확인</div>
            </div>
        </form>
            
        <form action="">
            <div class="model modBox">
                <h2>모델 수정</h2>
                <p>카테고리 코드: </p><input type="text" class="categoryCode">
                <p>모델 코드: </p><input type="text" class="modelCode"> 
                <p>모델 년도: </p><input type="text" class="modelYear"> 
                <p>모델 이름: </p><input type="text" class="modelName"> 
                <p>모델 이미지: </p><input type="file"> 
                <div class="btn confirm">확인</div>
            </div>
        </form>
            

    </div>

</div>

    