
<!-- 명령어.알리아스 
     해당 알리아스로 class의 data에 접근할 수 있다.
-->
<div class="all">
	<sly data-sly-use.data="com.nsc.aem_sample.core.models.NscPractice2"></sly>
	
	<p class="title">${data.title}</p>
	<p class="description">${data.description}</p>
	
	<sly data-sly-list.list="${data.listDatas}">
    <!-- list의 item은 alias를 주지 않아도 자동으로 "item"이 alias임!  -->
	    
	    <div class="consultingBox">
		    <p class="conDes">${list.consulting@context='html'}</p>
		    
		        <a href="${list.link}">

			        <img src="${list.fileReference}" class="cunsultionImg"></img>

			    </a>
        </div>
    </sly>
</div>