<sly data-sly-use.how="com.kia25.core.models.HowToBuyModel"></sly>

<p>area component</p>
<hr>
<div>
	<sly data-sly-test="${how.transList}">
        <ul data-sly-list.trns="${how.transList}" >
            	<li> 시 코드 : ${trns.transCode}</li>
            	<li> 시 이름 : ${trns.transName}</li>
        </ul>
    </sly>
</div>










<!--<sly data-sly-use.option="com.kia25.core.models.Build004_OptionModel"></sly>-->

<!--
<p>Model component</p>
<hr>
<div>
	<p>리스트 ${option.optionList.size}</p>
    <p>모델이미지경로 ${option.matchModel.carImage}</p>
    <hr>
	<sly data-sly-test="${option.optionList}">
        <ul data-sly-list.optList="${option.optionList}" >
            	<li> category Code : ${optList.trimCode}</li>
            	<li> category Name : ${optList.optionCode}</li>
        </ul>
    </sly>
</div>
-->

<!-- 

<sly data-sly-use.car="com.kia25.core.models.Build002Model">


<p>car component</p>
<hr>
<div>
	<p>리스트 ${car.carGroupList.size}</p>
    <p>모델이미지경로 ${car.carData.carImagePath}</p>
    <p>모델이미지경로 ${car.test.size}</p>
    <hr>
	<sly data-sly-test="${car.test}">
        <ul data-sly-list.list="${car.test}" >
        		<li> category Code : ${list.carGroupCode}</li>
            	<li> category Code : ${list.trimCode}</li>
            	<li> category Name : ${list.trimName}</li>
            	<li> category Name : ${list.sellingPrice}</li>
            	<hr>
        </ul>
    </sly>
</div>
-->