<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"  data-sly-call="${clientLib.all @ categories='kia25.base'}"></sly>
<sly data-sly-use.option="com.kia25.core.models.Build004_OptionModel"></sly>

<p>Model component</p>
<hr>
<div>
	<p>리스트 ${option.optionList.size}</p>
    <p>모델이미지경로 ${option.modelImgPath}</p>
    <hr>
	<sly data-sly-test="${option.optionList}">
        <ul data-sly-list.optList="${option.optionList}" >
            	<li> category Code : ${optList.trimCode}</li>
            	<li> category Name : ${optList.optionCode}</li>
        </ul>
    </sly>
</div>