@charset "UTF-8";
.responsive-tabs .dropdown-arrow {
	display: none;
}

.nav-tabs {
	display: block;
	width: 100%;
}

.nav-tabs .nav-item {
	display: inline-block;
	margin-left: 40px;
}

.nav-tabs .nav-item:first-child {
	margin-left: 0;
}

.nav-tabs .nav-item > a {
	font-size: 30px;
	color: #ccc;
	line-height: 45px;
}

.nav-tabs .nav-item > a.active {
	color: #000;
	border-bottom: 4px solid #000;
	font-weight: 600;
}

/* history_cont_wrap */
.history_cont_wrap {
	margin-top: 90px;
}

.history_cont_wrap .history_cont_list {
	position: relative;
}

.history_cont_wrap .history_cont_list::before {
	content: '';
	position: absolute;
	left: 232px;
	top: 20px;
	width: 1px;
	height: 100%;
	background-color: #ccc;
}

.history_cont_wrap .history_cont_list > .bar {
	position: absolute;
	left: 232px;
	top: 20px;
	width: 2px;
	height: 0;
	background-color: #0058cd;
}

.history_cont_wrap .history_cont_list > li {
	position: relative;
}

.history_cont_wrap .history_cont_list > li::after {
	display: block;
	clear: both;
	content: "";
}

.history_cont_wrap .history_tit {
	float: left;
	width: 232px;
	font-weight: 500;
	font-size: 30px;
	color: #000000;
	line-height: 1.53;
}

.history_cont_wrap .history_box {
	position: relative;
	float: right;
	width: calc(100% - 252px);
	padding-bottom: 52px;
	margin-top: 10px;
}

.history_cont_wrap .history_box::after {
	display: block;
	clear: both;
	content: "";
}

.history_cont_wrap .history_box::before {
	content: "";
	position: absolute;
	left: -25px;
	top: 10px;
	width: 8px;
	height: 8px;
	border: 2px solid #0058cd;
	border-radius: 50%;
	background-color: #fff;
}

.history_cont_wrap .history_cont_list > li:last-child .history_box {
	padding-bottom: 0;
}

.history_cont_wrap .history_txt_list {
	float: left;
	width: 100%;
}

.history_cont_wrap .history_txt_list li {
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -.05em;
}

.history_cont_wrap .history_txt_list li:last-child {
	margin-bottom: 0;
}

.history_cont_wrap .history_txt_list li {
	color: #1c1c1c;
}

@media screen and (max-width: 1023px) {
	.responsive-tabs {
		position: relative;
		border: 1px solid #dbdbdb;
	}

	.responsive-tabs li {
		width: 100%;
		margin: 0 !important;
	}

	.responsive-tabs li > a {
		display: none;
		border: 0 !important;
		border-radius: 0 !important;
	}

	.responsive-tabs.open li > a, .responsive-tabs li > a.active {
		display: block;
		font-size: 16px;
		color: #222;
		padding-left: 18px;
		font-weight: 400;
	}

	.responsive-tabs .dropdown-arrow {
		position: absolute;
		top: 15px;
		right: 15px;
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		vertical-align: middle;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transition: all ease .5s;
		cursor: pointer;
	}

	.responsive-tabs.open .dropdown-arrow {
		transform: rotate(-135deg);
		transition: all ease .5s;
	}

	.history_cont_wrap {
		margin-left: 0;
		margin-top: 30px;
	}

	.history_cont_wrap .history_cont_list::before {
		content: '';
		position: absolute;
		left: 3px;
		top: 20px;
		width: 1px;
		height: 100%;
		background-color: #ccc;
	}

	.history_cont_wrap .history_cont_list > .bar {
		position: absolute;
		left: 3px;
	}

	.history_cont_wrap .history_cont_list > li {
		padding-left: 23px;
	}

	.history_cont_wrap .history_cont_list > li::before {
		content: "";
		position: absolute;
		left: -2px;
		top: 8px;
		width: 8px;
		height: 8px;
		border: 2px solid #0058cd;
		border-radius: 50%;
		background-color: #fff;
	}


	.history_cont_wrap .history_tit {
		float: left;
		width: 100%;
		font-weight: 500;
		font-size: 18px;
	}

	.history_cont_wrap .history_box {
		float: left;
		width: 100%;
		padding-bottom: 52px;
		margin-top: 10px;
	}

	.history_cont_wrap .history_box::before {
		display: none;
	}


}

.wrap {
	height: 100%;
}

.full-page-wrap {
	height: calc(100% - 130px);
}



.full-page .fp-tableCell {
	font-size: 20px;
}


.fp-slides * {
	font-size: 20px;
}
.main-visual:before{
	content:'';
	display:block;
	position: absolute;
	left:50%;
	bottom:60px;
	transform: translate(-50%, 0);
	width:24px;
	height:63px;
	background:url("../assets/images/mainslide/scroll.svg") no-repeat center center;
	z-index: 10;
	animation: scroll infinite 3s;
}
@keyframes scroll {
	0%{bottom: 60px;} 50%{bottom:40px;} 100%{bottom:60px;}

}
.main-visual .fp-tableCell{
	/* position: relative; */
	overflow: hidden;
}
.main-visual .main-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
	background-position: center center;
	background-size: cover;
	transform: scale(1.3, 1.3);
	transition: transform 3s ease-out;
}

.main-visual .main-bg:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 110%;
	height: 110%;
	background: rgba(0, 0, 0, 0.9);
}

.main-visual .main-text {
	margin: auto;
	width: 80%;
	line-height: 90px;
	font-size: 64px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 1;
}

.main-visual .main-text a {
	display: block;
	margin: 80px auto 0 auto;
	width: 280px;
	height: 54px;
	line-height: 54px;
	border-radius: 42px;
	border: 1px solid #fff;
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 16px;
}

.main-visual .current .main-bg {
	transform: scale(1, 1);
}

.main-visual img {
	width: 100%;
}
